@import 'header';
@import 'responsive';

@font-face {
  font-family: UniversLTStd-Light;
  src: url("#{$static-path}/fonts/UniversLTStd-Light.otf") format("opentype");
}
@font-face {
  font-family: UniversLTStd-Bold;
  src: url("#{$static-path}/fonts/UniversLTStd-Bold.otf") format("opentype");
}
body,
p,
label {
  font-family: UniversLTStd-Light, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: UniversLTStd-Bold, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

input[type="text"] {
  font-family: UniversLTStd-Light, Arial, Helvetica, sans-serif;
}

a:not(.btn),
a:visited:not(.btn) {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
//-----------------
// Home Styling
//-----------------

.content-wrapper.main-container {
  margin-top: 0;
  padding: 0;
}

#searchCourses {
  font-style: normal;
}

.home>header {
  .banner-home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
  }

  .outer-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 235px;

    .title {
      background: none;
      box-shadow: none;

      .heading-group h1 {
        color: $white;
        font-size: 3rem;
        text-align: center;
      }
    }

    .buttons-home {
      align-self: center;
      display: flex;
      flex-direction: column;

      .btn-lg.btn-secondary {
        background: $white;
        border-radius: 30px;
        color: $black;   
        margin: 10px;

        &:hover {
          background: $white!important;
          color: $black;
        }
      }

      .btn-lg.btn-default {
        border-radius: 30px;
        color: $white;
        margin: 10px;
      }
    }
  }
}

//-----------------
// List courses Styling
//-----------------
.home .courses-container,
.find-courses .courses-container {
  max-width: 1300px;
  padding: 0 15px;
}

.content-wrapper .courses-container .courses .course {
  border: 0;
  border-bottom: 3px solid $green;
  box-shadow: none;

  .course-info .course-title {
    color: $black;
  }

  .course-image .cover-image .learn-more {
    background: $green;
    border-color: $green;
  }
}

.find-courses {
  padding-top: 25px;

  .discovery-submit {
    background: $green;
    border-color: $green;

    &:hover,
    &:active,
    &:focus {
      background: $green;
    }
  }
}

//-----------------
// Course Content Styling
//-----------------
.content-wrapper .course-tabs.navbar,
.content-wrapper .wrapper-course-material .course-material {
  overflow: auto;
}

.course-content .xmodule_display.xmodule_SequenceModule .sequence-nav .sequence-list-wrapper {
  overflow: inherit;
}

.home>header .title .course-search .search-button {
  background: $green;
  border-color: $green;

  &:hover,
  &:active,
  &:focus {
    background: $green;
    border-color: $green;
  }
}

//-----------------
// Footer Styling
//-----------------

.footer .container {
  max-width: 1170px !important;
  padding: 0;

  .grid {
    display: flex !important;
    justify-content: center;

    .items {
      align-items: center;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      justify-content: center;
      margin: 15px;
      min-height: 150px;
      min-width: 15%;
      padding: 15px;

      div {
        text-align: center;
        width: 100%;
      }

      ul {
        width: 100%;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0 0 15px 0;
    padding: 0;

    li {
      color: $gray;
      display: inline-block;
      padding: 0 15px 0 0;
    }
  }
}

//-----------------
// About page Styling
//-----------------
.content-wrapper .course-info {
  margin: 0 auto;
  max-width: 1000px;

  p+p,
  ul+p,
  ol+p {
    margin-top: 10px;
  }

  .course-profile {
    background: none;
    border: 0;
    box-shadow: none;
    height: auto;
    padding-top: 50px;

    p {
      color: $black;
      text-align: center;
    }
  }

  .waypoint {
    font-family: UniversLTStd-Bold, Arial, Helvetica, sans-serif;
    font-size: 3em;
  }

  .header-info-list {
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
    list-style-type: none;
    margin: 15px 0;
    padding: 15px 0;
    text-align: center;
    width: 100%;

    li {
      display: inline;
      margin-right: 20px;
    }

    li:last-child {
      margin-right: 0;
    }
  }

  .course-video {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    transition: all 0.3s;
    width: 100%;

    img {
      display: block;
      margin: 15px auto;
      width: 100%;
    }
  }

  .link-courses {
    color: $green;

    &:hover {
      color: $green;
    }
  }

  .container {
    .btn-center {
      margin: 15px 0;
      text-align: center;

      a {
        background: $white;
        border-color: $black;
        border-radius: 30px;
        color: $black;
        padding: .7rem 3rem;
      }
    }

    section {
      padding: 15px 0;

      h2 {
        color: $green;
        font-size: 1.8rem;
      }

      h3 {
        font-size: 1.5rem;
        margin: 10px 0;
      }

      p,
      ul li {
        color: $gray;
      }

      ul li {
        margin-bottom: 5px;
      }

      ul li:last-child {
        margin-bottom: 0;
      }

      .teacher-image img {
        margin: 0 20px 10px;
        max-width: 100px;
      }

      .course-staff {
        display: flex;
        flex-direction: column;
      }

      .teacher {
        padding: 20px 0;
      }
    }
  }

  .main-cta {
    margin: 20px;
    text-align: center;
  }
}

.btn-default {
  background: $green;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: $white !important;
  transition: all .3s;

  &:hover {
    background: $green;
  }
}


//-----------------
// Static pages Styling
//-----------------
.container.about {
  h2 {
    color: $green;
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.3rem;
    margin: 10px 0;
  }

  p {
    line-height: 1.2rem;
    margin-top: 10px;
  }
}

.buttons-home #register,
.navbar-content .nav-register-link {
  display: none;
}
